{% extends 'medical_services/index.html' %}
{% block content %}
<div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card mb-4 box-shadow">
        <div class="card-header text-start">
            <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
        </div>
        <div class="card-body">
            <form method="post" action="" class="form-floating">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="Введите Ваш Email"
                           required>
                </div>
                <div class="card-footer">
                    <a href="{% url 'users:generate_new_password' %}" class="btn btn-danger">
                        Восстановление пароля
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}